@page "/artister"

<div class="artist_header">
    <div><hi class="artist_top"> Artister </hi></div>
    <div><h2 class="artist_bottom"> Året hotteste artister kommer til Miljøfest </h2></div>
</div>

<div class="artist_body">
    <div class="artist_one"> Greta Thunberg </div>
    <div class="artist_two"> Black Panther </div>
    <div class="artist_three"> Chris Brun </div>
    <div class="artist_four"> Fisk </div>
    <div class="artist_five"> Gul Ninja </div>
    <div class="artist_six"> Random fyr </div>
    <div class="artist_seven"> Samosa </div>
    <div class="artist_eight"> Svamp </div>
    <div class="artist_nine"> Sten </div>
</div>