@page "/frivillig"

@* FRIVILLIG CONTAINER *@
<div class="frivillig_container">
    @* HEADER *@
    <div class="frivillig_header">
        <h1> Frivillig </h1>
    </div>
    <div>
        <h2 style="font-size: 25px;"> Uden dig, uden Miljøfest så mere simpelt bliver det ikke </h2>
    </div>
    <div>
        BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH
    </div>

    @* BODY *@
<div class="frivillig_body">
    <div>
        <div style="font: bold; font-size: 20px">
            Frivillig i en madbod
        </div>
        <div>
            BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH
        </div>
    </div>
    <br>
    <div>
        <div style="font: bold; font-size: 20px">
            Frivillig i en bar
        </div>
        <div>
            BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH
        </div>
    </div>
    <br>
    <div>
        <div style="font: bold; font-size: 20px">
            Frivillig som opsætter/opryder
        </div>
        <div>
            BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH
        </div>
    </div>
    <br>
    <div>
        <div style="font: bold; font-size: 20px">
            Fællesskab
        </div>
        <div>
            BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH
        </div>
    </div>
    <br>
    <div>
        <div style="font: bold; font-size: 20px">
            Fordele som frivillig
        </div>
        <div>
            BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH
        </div>
    </div>
    <br>
    <div>
        <div style="font: bold; font-size: 20px">
            Vagter og opgaver
        </div>
        <div>
            BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH
        </div>
    </div>
    <br>
    <div>
        <div style="font: bold; font-size: 20px">
            Depositum
        </div>
        <div>
            BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH BLAH
        </div>
    </div>
</div>
</div>



