@page "/"
@inject NavigationManager NavigationManager
@inject IJSRuntime IJRuntime

<div class="body_container">
    <div class="body_text"> <button class="body_button" @onclick="Billet"><span>BILLET 2022 </span></button> </div>
    <div class="body_text"> <button class="body_button" @onclick="Artister"><span>Artister </span></button> </div>
    <div class="body_text"> <button class="body_button" @onclick="Mad"><span>Mad </span></button> </div>
    <div class="body_text"> <button class="body_button" @onclick="Frivillig"><span>Frivillig </span></button> </div>
    <div class="body_text"> <button class="body_button" @onclick="Overnatning"><span>Overnatning </span></button> </div>
    <div class="body_text"> <button class="body_button" @onclick="Om_os"><span>Om Miljø fest </span></button> </div>
</div>

@code {

    private void Billet()
    {
        NavigationManager.NavigateTo("billet");
    }
    private void Artister()
    {
        NavigationManager.NavigateTo("artister");
    }
    private void Mad()
    {
        NavigationManager.NavigateTo("mad");
    }
    private void Frivillig()
    {
        NavigationManager.NavigateTo("frivillig");
    }
    private void Overnatning()
    {
        NavigationManager.NavigateTo("overnatning");
    }
    private void Om_os()
    {
        NavigationManager.NavigateTo("omOs");
    }
}

