@page "/mad"

@* MAD CONTAINER *@
<div class="mad_container">
    @* HEADER *@
    <div class="mad_header">
        <h1> Mæt maven </h1>
        <h4> Festivalen i Aarhus smukke naturområder er en totaloplevelse, hvor mad og drikke er utroligt vigtigt. Aarhus Street Food er med til at skabe en ny oplevelse for både vores gæster og medhjælper. </h4>

        Der findes 30+ forskellige steder at spise på Miljøfest. De varierer fra food trucks og små nicheboder til store take-away-steder med høj kapacitet samt sid-ned-restauranter. Her skal bogstaveligt talt være noget for enhver smag.
        Kvalitet, originalitet og variation går vi ikke på kompromis med. Der skal mere end mandelristning og klapborde med toastmasters til at imponere på Miljøfest. Her skal gæster og medhjælpere kunne gå ombord i dejlig mad fra store dele af verden – og opleve koncepter, de ikke har set før.
    </div>
    <br>
    @* BODY *@
    <h1> Mmmm... </h1>
    <div class="mad_body">
        <div class="mad_body_one"> </div>
        <div class="mad_body_two"> </div>
        <div class="mad_body_three"> </div>
        <div class="mad_body_four"> </div>
        <div class="mad_body_five"> </div>
        <div class="mad_body_six"> </div>
    </div>
</div>
