@page "/overnatning"

@* OVERNATNING CONTAINER *@
<div class="overnatning_container">
    @* HEADER *@
    <div class="overnatning_header">
        <h1> Fælles bosted i syv dage </h1>
    </div>
    <div>
        <h2 style="font-size: 25px;"> Miljøfest tilbyder en række forskellige måder at bo "antidagligdagsk" på. Tag dit eget telt med og lav en sjov lejr, eller tilkøb en festivalbolig med masser af sjov og ballede. </h2>
    </div>
    <div>
        Nogle bruger meget af tiden på Miljøfest i lejren – andre knap så meget og på Miljøfest er der rigeligt af muligheder til både den ene og den anden type! Alle med gyldigt partout- eller endagsarmbånd til Miljøfest kan frit campere på festivalens campingområder hele ugen.
        Har du dit eget telt med, kan du slå det op på de mange forskellige områder. Her er der masser af plads til medbragte telte, og du vælger helt selv din nabo – hvis du er hurtig nok.
        På Miljøfest finder du et socialt og kulturelt projekt ved navn "Kig grønnere", hvor man kan bo sammen med andre, som man ikke kender i forvejen.
        Orker du ikke at slæbe dit eget telt med, så har vi et hav af andre muligheder til dig. F.eks. har vi sat en masse Hotelte op på forhånd, der er skotøjsæsker, dåser og grisehytter. Alt det kan du læse meget mere om lige her ✨
    </div>

    @* BODY *@
<div class="overnatning_body">
    <div>
        <div style="font: bold; font-size: 20px">
            Eget telt
        </div>
        <div>
            Camping i eget telt er back-to-bacics. Det var sådan, det hele startede, og fortsat dét mange forbinder med en uge på festival. Muligheden for at komme og bo i eget telt er en del af din festivalbillet og koster altså ikke ekstra!
        </div>
    </div>
    <br>
    <div>
        <div style="font: bold; font-size: 20px">
            Hotelt
        </div>
        <div>
            Hotelt er kort og godt et hotelværelse med pløkker. Dog med den lille krølle, at du faktisk må tage dit hotelværelse med hjem fra Miljøfest, når du er færdig med at bo i det!
        </div>
    </div>
    <br>
    <div>
        <div style="font: bold; font-size: 20px">
            Campingvogn
        </div>
        <div>
            Find din bedste camping-habit, de hvide tennisstrømper og H2O klip-klapperne frem fra gemmerne, støv klapstolene af og kom af sted: Det her er god, gammeldags komfortabel camping!
        </div>
    </div>
    <br>
    <div>
        <div style="font: bold; font-size: 20px">
            Andre sjove boformer
        </div>
        <div>
            Efterhånden kan du vælge at bo på en lang række måder på Miljøfest. De festivalboliger, du kan tilkøbe, er meget forskellige og placeret spredt rundt omkring festivalpladsen.
        </div>
    </div>
    <br>
    <div>
        <div style="font: bold; font-size: 20px">
            Camping- og teltregler
        </div>
        <div>
            Miljøfest er ANTIDAGLIGDAG med stort A, men for at det ikke bliver ANARKI at bo 5000 mennesker sammen i et kollektiv, har vi nogle campingregler.
        </div>
    </div>
</div>
</div>