@page "/endagsbillet"
@using festivalsql.Shared.Models;
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime IJRuntime


<div class="billet_container">
    <div class="billet_submit">
        <h4>Endagsbillet</h4>

        <form>
            <div class="form-group">
                <label>Navn</label>
                <input class="form-control col-sm-3" @bind="newEndags.navn" />
            </div>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control col-sm-3" @bind="newEndags.email" />
            </div>
            <div class="form-group">
                <label>Telefon nr.</label>
                <input class="form-control col-sm-3" @bind="newEndags.telefon" />
            </div>
            <button class="btn btn-primary" @onclick="SubmitEndags">Køb</button>
        </form>
    </div>
</div>
@code {
    private List<Endags> endags;

    private Endags newEndags = new Endags();

    private bool edit = false;

    protected override async Task OnInitializedAsync()
    {
        endags = await Http.GetFromJsonAsync<List<Endags>>("api/endags");
    }

    private async Task GetEndags(int id)
    {
        newEndags = await Http.GetFromJsonAsync<Endags>("api/endags/detail/" + id);
        edit = true;
    }

    private async Task SubmitEndags()
    {
        NavigationManager.NavigateTo("/");
        if (edit == false)
        {
            await Http.PostAsJsonAsync<Endags>("api/endags/create", newEndags);
            await OnInitializedAsync();

        }
        else
        {
            await Http.PutAsJsonAsync<Endags>("api/endags/edit", newEndags);
            edit = false;
            await OnInitializedAsync();
        }
        await IJRuntime.InvokeVoidAsync("alert", "Tak for dit køb");
    }

    private async Task DeleteEndags(int id)
    {
        await Http.DeleteAsync("api/endags/delete" + id);
        await OnInitializedAsync();
    }
}
