@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="header_container">
        <div class="header_container2">
            <img class="header_container2_itemlogo" src="images/logo1.png">
            <p class="header_container2_itemtext"> 1. Juni - 7. Juni 2022 </p>
        </div>

        @*KNAPPER*@
        <div class="header_container3">
            <button class="header_button"><span>Om os </span></button>
        </div>

        <div class="header_container3">
            <button class="header_button"><span>Login </span></button>
        </div>
    </div>




    <div class="content px-4">
        @Body
    </div>
</div>