@page "/"

<div class="body_container">
    <div class="body_text">
        <button class="body_button"><span>MILJØ 2022 </span></button>
    </div>
    <div class="body_text"> <button class="body_button"><span>Artister </span></button> </div>
    <div class="body_text"> <button class="body_button"><span>Mad </span></button> </div>
    <div class="body_text"> <button class="body_button"><span>Frivillig </span></button> </div>
    <div class="body_text"> <button class="body_button"><span>Overnatning </span></button> </div>
    <div class="body_text"> <button class="body_button"><span>Om Miljø fest </span></button> </div>
</div>